@{
    ViewBag.Title = "About";
}
<!--  
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p> -->

<div class="col-lg-10 col-lg-offset-1">
    <!-- <h1>About Us...</h1> -->

    <div class="row">
        <img src="~/Assets/Images/cake6.jpg" width="400" height="400" class="img-thumbnail" style="float: left" />
        <h5>&nbsp;&nbsp;&nbsp;  Who We Are?</h5>
        <p id="what">
            &nbsp;&nbsp; Combining the highest quality ingredients with the freshest ideas, Over the Top Cakes delivers one of a kind designer cakes bursting with flavour and imagination. Each cake is a true labour of love – the perfect blend of inspiration, passion, and serious baking know-how. No two cakes are ever the same.
            Working in collaboration with our valued clients, Over the Top brings more than 30 years’ of expertise to the table. We deliver the wow-factor sure to leave a lasting impression every time.
            We work with only the finest of ingredients: Callebaut chocolate, real dairy butter, Madagascar vanilla, Dutch cocoa and pure fruit extracts and compounds. We do not use artificial flavouring.
        </p>

        <h5>  &nbsp;&nbsp;&nbsp; Notes for our guests: </h5>
        <p id="who">
            (1)  Our decadent cakes are not dairy, gluten or nut free. If you have such dietary requirements, we will gladly recommend local businesses that specialize in cakes of these kinds.
            <br /> (2)  We service the greater Edmonton area, including St. Albert, Spruce Grove, Morinville, Sherwood Park & Parkland County

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <br /><br /><br /><br />
        <footer>
            &copy; @DateTime.Now.Year - By Mansi Patel & Shweta Chavda
        </footer>
    </div>
</div>
