@{
    ViewBag.Title = "Contact";
}
<!--   
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>   -->

<div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.4936977141792!2d-79.70296858501953!3d44.402514011672515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa2de75bcb9eb%3A0x5eb1180f76384b3d!2s331+Bayfield+St+Unit+1%2C+Barrie%2C+ON+L4M+3C2!5e0!3m2!1sen!2sca!4v1469550577411" width="950" height="510" frameborder="5" style="border:solid" allowfullscreen></iframe>
    <br /><br /><br /><br />
    <footer>
        &copy; @DateTime.Now.Year - By Mansi Patel & Shweta Chavda
    </footer>
</div>


<div id="map" class="col-md-4">
    <h4 style="color:black">Contact Information:</h4>
    <b>Sweetooth Cake Castle</b><br>
    331 Bayfield St, Unit 1  <br>
    L4M 3C2<br>
    Barrie ON Canada<br>
    <a color="#72777a" href="mailto:swcakecastle@gmail.com">swcakecastle@gmail.com</a><br>

</div>