
<!--
File Name: Index.cshtml view for Home Controller
Author Name: Mansi Patel(200303640) & Shweta Chavda(200326347)
Website Name: http://sweetoothcake.azurewebsites.net/
Description:  This the Home Page of the website.
Last updated Daate: 07/31/2016
Last updated Version: 1.0.2
-->


<div class="header">
    <div class="row">
        <div class="col-md-6">
            <img id="home" src="~/Assets/Images/home.jpg" />
        </div>
        <div class="col-md-6">
            <h3>
               Welcome to Sweetooth Cake Castle ...<br/>
               Celebrate your happiness with us!!!
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <br /><br /><br /><br />
        <footer>
            &copy; @DateTime.Now.Year - By Mansi Patel & Shweta Chavda
        </footer>
    </div>
</div>
