
body {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #FADADD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Carousal*/
h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*navbar*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#navbar-primary .navbar-nav {
   /* background: #ededed  */
    width: 100%;
    text-align: center;
}
    #navbar-primary .navbar-nav li {
        display: inline-block;
        float: none;
    }
     #navbar-primary .navbar-nav a{
      padding-left: 30px;
      padding-right: 30px;
      font-size: 30px;
      font-family: "Leckerli One";
      color: #4B0082;

    }
#navbar-primary .navbar-nav a:hover {
    text-decoration: none;
     background-color: transparent;
}

/*footer*/
footer {
    padding-left: 50px;
    font-size: 18px;
    font-family: "Leckerli One";
    color: #4B0082;
    padding-bottom: 70px;
}
.img{
    position: relative;
    padding-left: 500px;
  
}

  /*About */
   p#what{
       padding-left: 420px;
     font-weight:400;
     color:  #F20056;
     font-size: 22px;
     font-family:  "Marck Script";
     font-weight: 700;
 }

    p#who{
     font-weight:400;
     color:  dodgerblue;
     font-size: 22px;
     font-family:  "Marck Script";
     font-weight: 700;
     padding-left: 420px;
 }
    h5{
     font-family:  Forte;
 color: black;
 font-size: 25px;
    }

   h4{
    font-family:  Forte;
 color:  darkred;
 font-size: 25px;
 }

   /* Contact page*/
 
   div#map {
       text-align: center;
     padding-top : 330px;
 display: inline-block;
font-family:  "Marck Script";
 color:   #F20056;
  font-weight: 900;
 font-size: 20px;
 right: -190px;
 }
 
